.ten{
    background: yellow;
    width: 250px;
    border: 6px solid red;
    border-radius: 7px;
    padding: 15px;
margin: 8px 50px;

outline: 8px solid yellow;

}

.flex{
    display: flex;
    flex-wrap: wrap;
}




































































